In [191]:
import pandas as pd
import numpy as np

In [192]:
brfss = pd.read_csv('preprocessed_final.csv')
df = brfss.drop(['Unnamed: 0'], axis=1)

df

,_STATE,LADULT1,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,...,_SMOKER3,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_DRNKWK1,_RFDRHV7,_FRTLT1A,_VEGLT1A,_RFBING5
0,1,1.0,2,5.0,20.0,10.0,3.0,1.0,2.0,2.0,...,3,1,1,2,0,0,1,1,1,1
1,1,1.0,2,3.0,88.0,88.0,1.0,2.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
2,1,1.0,2,2.0,88.0,88.0,2.0,2.0,2.0,1.0,...,4,1,1,2,0,0,1,1,2,1
3,1,1.0,2,2.0,88.0,10.0,2.0,1.0,2.0,1.0,...,4,1,1,1,14,300,1,1,1,2
4,1,1.0,1,5.0,30.0,88.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109188,78,1.0,2,1.0,88.0,88.0,1.0,2.0,2.0,1.0,...,4,1,1,2,0,0,1,9,1,1
109189,78,1.0,2,2.0,88.0,88.0,88.0,1.0,2.0,2.0,...,4,1,1,1,7,47,1,2,1,1
109190,78,1.0,2,2.0,88.0,88.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
109191,78,1.0,2,4.0,77.0,77.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,9,9,1
109192,78,1.0,2,3.0,77.0,88.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,2,1

# MatLab State Labels

In [193]:
values = df['_STATE'].unique()

# for x in values:
# #     for y in range(0, len(values))
#     ML = df.loc[df['_STATE'] == x]
#     state = x
#     file = f"df_state_L{state}.csv"
#     ML.to_csv(file)
    
# for x in values:
#     line = f"M_LS{x} = readmatrix('df_state_L{x}.csv');"
#     print(line)

# for x in values:
#     line = f" M_LS{x}(2:end, [2:end-1]),"
#     print(line)

for x in values:
    line = f" M_LS{x}(2:end, end),"
    print(line)

 M_LS1(2:end, end),
 M_LS2(2:end, end),
 M_LS4(2:end, end),
 M_LS5(2:end, end),
 M_LS6(2:end, end),
 M_LS8(2:end, end),
 M_LS9(2:end, end),
 M_LS10(2:end, end),
 M_LS11(2:end, end),
 M_LS13(2:end, end),
 M_LS15(2:end, end),
 M_LS16(2:end, end),
 M_LS17(2:end, end),
 M_LS18(2:end, end),
 M_LS19(2:end, end),
 M_LS20(2:end, end),
 M_LS21(2:end, end),
 M_LS22(2:end, end),
 M_LS23(2:end, end),
 M_LS24(2:end, end),
 M_LS25(2:end, end),
 M_LS26(2:end, end),
 M_LS27(2:end, end),
 M_LS28(2:end, end),
 M_LS29(2:end, end),
 M_LS30(2:end, end),
 M_LS31(2:end, end),
 M_LS32(2:end, end),
 M_LS33(2:end, end),
 M_LS34(2:end, end),
 M_LS35(2:end, end),
 M_LS36(2:end, end),
 M_LS37(2:end, end),
 M_LS38(2:end, end),
 M_LS39(2:end, end),
 M_LS40(2:end, end),
 M_LS41(2:end, end),
 M_LS42(2:end, end),
 M_LS44(2:end, end),
 M_LS45(2:end, end),
 M_LS46(2:end, end),
 M_LS47(2:end, end),
 M_LS48(2:end, end),
 M_LS49(2:end, end),
 M_LS50(2:end, end),
 M_LS51(2:end, end),
 M_LS53(2:end, end),
 M_LS54(2:end, end),
 M_LS55(2:end, end),
 M_LS56(2:end, end),
 M_LS66(2:end, end),
 M_LS72(2:end, end),
 M_LS78(2:end, end),

# Computed Mental Health Datasets

In [194]:
ML1 = df.loc[df['_MENT14D'] == 1]
ML1.to_csv("df_computed_mental_health_L1_0days.csv")

ML1

,_STATE,LADULT1,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,...,_SMOKER3,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_DRNKWK1,_RFDRHV7,_FRTLT1A,_VEGLT1A,_RFBING5
1,1,1.0,2,3.0,88.0,88.0,1.0,2.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
2,1,1.0,2,2.0,88.0,88.0,2.0,2.0,2.0,1.0,...,4,1,1,2,0,0,1,1,2,1
4,1,1.0,1,5.0,30.0,88.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
5,1,1.0,1,3.0,88.0,88.0,3.0,1.0,2.0,1.0,...,3,1,1,2,0,0,1,2,2,1
6,1,1.0,1,3.0,30.0,88.0,1.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109187,78,1.0,2,2.0,88.0,88.0,3.0,1.0,2.0,2.0,...,4,1,1,1,3,23,1,2,1,1
109188,78,1.0,2,1.0,88.0,88.0,1.0,2.0,2.0,1.0,...,4,1,1,2,0,0,1,9,1,1
109189,78,1.0,2,2.0,88.0,88.0,88.0,1.0,2.0,2.0,...,4,1,1,1,7,47,1,2,1,1
109190,78,1.0,2,2.0,88.0,88.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
109192,78,1.0,2,3.0,77.0,88.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,2,1

In [195]:
ML2 = df.loc[df['_MENT14D'] == 2]
ML2.to_csv("df_computed_mental_health_L2_1to13days.csv")

ML2

,_STATE,LADULT1,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,...,_SMOKER3,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_DRNKWK1,_RFDRHV7,_FRTLT1A,_VEGLT1A,_RFBING5
0,1,1.0,2,5.0,20.0,10.0,3.0,1.0,2.0,2.0,...,3,1,1,2,0,0,1,1,1,1
3,1,1.0,2,2.0,88.0,10.0,2.0,1.0,2.0,1.0,...,4,1,1,1,14,300,1,1,1,2
9,1,1.0,2,3.0,25.0,5.0,3.0,2.0,2.0,1.0,...,3,1,1,1,10,140,1,1,1,1
29,1,1.0,2,3.0,4.0,2.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
30,1,1.0,2,2.0,88.0,3.0,1.0,1.0,2.0,2.0,...,4,1,1,2,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109163,78,1.0,1,2.0,5.0,4.0,3.0,2.0,2.0,1.0,...,3,1,1,2,0,0,1,1,1,1
109166,78,1.0,1,5.0,15.0,11.0,3.0,1.0,1.0,2.0,...,4,1,1,2,0,0,1,9,9,1
109178,78,1.0,2,2.0,4.0,5.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
109179,78,1.0,2,2.0,88.0,6.0,3.0,1.0,2.0,1.0,...,4,1,1,1,3,23,1,1,1,1
109186,78,1.0,2,3.0,88.0,10.0,3.0,1.0,2.0,1.0,...,3,1,1,1,29,200,1,1,1,2

In [196]:
ML3 = df.loc[df['_MENT14D'] == 3]
ML3.to_csv("df_computed_mental_health_L3_14plusdays.csv")

ML3

,_STATE,LADULT1,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,...,_SMOKER3,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_DRNKWK1,_RFDRHV7,_FRTLT1A,_VEGLT1A,_RFBING5
10,1,1.0,2,4.0,88.0,25.0,3.0,1.0,2.0,1.0,...,2,2,1,2,0,0,1,2,1,1
11,1,1.0,2,3.0,7.0,15.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
24,1,1.0,2,4.0,4.0,14.0,3.0,2.0,2.0,1.0,...,4,1,1,2,0,0,1,2,1,1
62,1,1.0,2,4.0,15.0,30.0,3.0,1.0,1.0,2.0,...,3,1,1,2,0,0,1,1,1,1
64,1,1.0,2,4.0,2.0,25.0,1.0,1.0,2.0,1.0,...,3,1,1,1,14,200,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109139,78,1.0,2,3.0,14.0,30.0,2.0,1.0,1.0,1.0,...,4,1,1,1,10,140,1,1,1,1
109146,78,1.0,2,5.0,5.0,30.0,88.0,1.0,1.0,1.0,...,4,1,1,2,0,0,1,1,1,1
109181,78,1.0,2,2.0,88.0,14.0,10.0,2.0,2.0,1.0,...,4,1,1,2,0,0,1,2,1,1
109183,78,1.0,2,4.0,30.0,30.0,1.0,2.0,7.0,1.0,...,4,1,1,2,0,0,1,2,2,1
109184,78,1.0,2,2.0,88.0,30.0,5.0,1.0,2.0,1.0,...,4,1,1,1,83,583,1,1,2,1

In [197]:
df2 = pd.read_excel('W_MTL_Least_L21__MENT14D.xlsx')

# df2.set_axis(['index', 'Mental_1', 'Mental_2', 'Mental_3'], axis =1)
df2 = df2.drop(['index'], axis =1)

df2

       Mental_1     Mental_2     Mental_3
0  -4738.308360  5595.460153  5208.201157
1    153.808541   769.080229   385.871910
2   -115.939854  1164.017712   605.088267
3    913.125638  1922.765675  1272.485498
4  -1046.612782 -1967.645710 -4221.000580
..          ...          ...          ...
75  -742.836628    57.921214  6750.531813
76    -0.149205    -1.350843    -4.275085
77   812.006363  1011.354136   523.610928
78   951.791616  1167.557185   706.972661
79   512.444650   691.724188   498.368886

[80 rows x 3 columns]

In [198]:
cols = df.columns
cols = cols.drop(['_RFBING5'])

cols

Index(['_STATE', 'LADULT1', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH',
       'PRIMINSR', 'PERSDOC3', 'MEDCOST1', 'CHECKUP1', 'EXERANY2', 'BPHIGH6',
       'CHOLCHK3', 'CVDINFR4', 'CVDCRHD4', 'CVDSTRK3', 'ASTHMA3', 'CHCSCNCR',
       'CHCOCNCR', 'CHCCOPD3', 'ADDEPEV3', 'CHCKDNY2', 'DIABETE4', 'HAVARTH5',
       'MARITAL', 'EDUCA', 'RENTHOM1', 'NUMHHOL3', 'VETERAN3', 'EMPLOY1',
       'CHILDREN', 'WEIGHT2', 'HEIGHT3', 'DEAF', 'BLIND', 'DECIDE', 'DIFFWALK',
       'DIFFDRES', 'DIFFALON', 'SMOKE100', 'USENOW3', 'ALCDAY5', '_IMPRACE',
       '_DUALUSE', '_RFHLTH', '_PHYS14D', '_MENT14D', '_HLTHPLN', '_HCVU652',
       '_TOTINDA', '_RFHYPE6', '_CHOLCH3', '_LTASTH1', '_CASTHM1', '_ASTHMS1',
       '_PRACE1', '_MRACE1', '_HISPANC', '_RACE', '_RACEG21', '_RACEGR3',
       '_RACEPRV', '_SEX', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G',
       '_RFBMI5', '_CHLDCNT', '_EDUCAG', '_INCOMG1', '_SMOKER3', '_RFSMOK3',
       '_CURECI1', 'DRNKANY5', 'DROCDY3_', '_DRNKWK1', '_RFDRHV7', '_FRTLT1A',
       '_VEGLT1A'],
      dtype='object')

In [199]:
df2['L1_Risk_Factors'] = cols
df2

       Mental_1     Mental_2     Mental_3 L1_Risk_Factors
0  -4738.308360  5595.460153  5208.201157          _STATE
1    153.808541   769.080229   385.871910         LADULT1
2   -115.939854  1164.017712   605.088267          SEXVAR
3    913.125638  1922.765675  1272.485498         GENHLTH
4  -1046.612782 -1967.645710 -4221.000580        PHYSHLTH
..          ...          ...          ...             ...
75  -742.836628    57.921214  6750.531813        DROCDY3_
76    -0.149205    -1.350843    -4.275085        _DRNKWK1
77   812.006363  1011.354136   523.610928        _RFDRHV7
78   951.791616  1167.557185   706.972661        _FRTLT1A
79   512.444650   691.724188   498.368886        _VEGLT1A

[80 rows x 4 columns]

In [200]:
SM1 = df2.sort_values(by = ['Mental_1'], ascending = False)

for x in range(0, len(SM1)):
    print(SM1['L1_Risk_Factors'][x])
SM1

_STATE
LADULT1
SEXVAR
GENHLTH
PHYSHLTH
MENTHLTH
PRIMINSR
PERSDOC3
MEDCOST1
CHECKUP1
EXERANY2
BPHIGH6
CHOLCHK3
CVDINFR4
CVDCRHD4
CVDSTRK3
ASTHMA3
CHCSCNCR
CHCOCNCR
CHCCOPD3
ADDEPEV3
CHCKDNY2
DIABETE4
HAVARTH5
MARITAL
EDUCA
RENTHOM1
NUMHHOL3
VETERAN3
EMPLOY1
CHILDREN
WEIGHT2
HEIGHT3
DEAF
BLIND
DECIDE
DIFFWALK
DIFFDRES
DIFFALON
SMOKE100
USENOW3
ALCDAY5
_IMPRACE
_DUALUSE
_RFHLTH
_PHYS14D
_MENT14D
_HLTHPLN
_HCVU652
_TOTINDA
_RFHYPE6
_CHOLCH3
_LTASTH1
_CASTHM1
_ASTHMS1
_PRACE1
_MRACE1
_HISPANC
_RACE
_RACEG21
_RACEGR3
_RACEPRV
_SEX
_AGEG5YR
_AGE65YR
_AGE80
_AGE_G
_RFBMI5
_CHLDCNT
_EDUCAG
_INCOMG1
_SMOKER3
_RFSMOK3
_CURECI1
DRNKANY5
DROCDY3_
_DRNKWK1
_RFDRHV7
_FRTLT1A
_VEGLT1A

        Mental_1     Mental_2     Mental_3 L1_Risk_Factors
5   13034.216088  4087.157263  7362.392939        MENTHLTH
30   1201.355882 -7515.540930 -8510.262351        CHILDREN
78    951.791616  1167.557185   706.972661        _FRTLT1A
3     913.125638  1922.765675  1272.485498         GENHLTH
77    812.006363  1011.354136   523.610928        _RFDRHV7
..           ...          ...          ...             ...
29  -2099.159406 -1360.652591   277.044899         EMPLOY1
63  -3303.781421 -1277.762208  -455.134062        _AGEG5YR
0   -4738.308360  5595.460153  5208.201157          _STATE
48  -5156.567024 -5744.586370 -2622.879164        _HCVU652
65 -12865.505385  7638.064500  4738.263098          _AGE80

[80 rows x 4 columns]

# Binge Drinking Calculated Variable Datasets

In [201]:
mental = df.pop('_MENT14D')
df.insert(len(df.columns), '_MENT14D', mental)

df

,_STATE,LADULT1,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,...,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_DRNKWK1,_RFDRHV7,_FRTLT1A,_VEGLT1A,_RFBING5,_MENT14D
0,1,1.0,2,5.0,20.0,10.0,3.0,1.0,2.0,2.0,...,1,1,2,0,0,1,1,1,1,2
1,1,1.0,2,3.0,88.0,88.0,1.0,2.0,2.0,1.0,...,1,1,2,0,0,1,1,1,1,1
2,1,1.0,2,2.0,88.0,88.0,2.0,2.0,2.0,1.0,...,1,1,2,0,0,1,1,2,1,1
3,1,1.0,2,2.0,88.0,10.0,2.0,1.0,2.0,1.0,...,1,1,1,14,300,1,1,1,2,2
4,1,1.0,1,5.0,30.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109188,78,1.0,2,1.0,88.0,88.0,1.0,2.0,2.0,1.0,...,1,1,2,0,0,1,9,1,1,1
109189,78,1.0,2,2.0,88.0,88.0,88.0,1.0,2.0,2.0,...,1,1,1,7,47,1,2,1,1,1
109190,78,1.0,2,2.0,88.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,1,1,1,1
109191,78,1.0,2,4.0,77.0,77.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,9,9,1,9
109192,78,1.0,2,3.0,77.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,1,2,1,1

In [202]:
ML4 = df.loc[df['_RFBING5'] == 1]
ML4.to_csv("df_binge_drinking_calculated_variable_L1_no.csv")

ML4

,_STATE,LADULT1,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,...,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_DRNKWK1,_RFDRHV7,_FRTLT1A,_VEGLT1A,_RFBING5,_MENT14D
0,1,1.0,2,5.0,20.0,10.0,3.0,1.0,2.0,2.0,...,1,1,2,0,0,1,1,1,1,2
1,1,1.0,2,3.0,88.0,88.0,1.0,2.0,2.0,1.0,...,1,1,2,0,0,1,1,1,1,1
2,1,1.0,2,2.0,88.0,88.0,2.0,2.0,2.0,1.0,...,1,1,2,0,0,1,1,2,1,1
4,1,1.0,1,5.0,30.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,1,1,1,1
5,1,1.0,1,3.0,88.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109188,78,1.0,2,1.0,88.0,88.0,1.0,2.0,2.0,1.0,...,1,1,2,0,0,1,9,1,1,1
109189,78,1.0,2,2.0,88.0,88.0,88.0,1.0,2.0,2.0,...,1,1,1,7,47,1,2,1,1,1
109190,78,1.0,2,2.0,88.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,1,1,1,1
109191,78,1.0,2,4.0,77.0,77.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,9,9,1,9
109192,78,1.0,2,3.0,77.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,1,2,1,1

In [203]:
ML5 = df.loc[df['_RFBING5'] == 2]
ML5.to_csv("df_binge_drinking_calculated_variable_L2_yes.csv")

ML5

,_STATE,LADULT1,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,...,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_DRNKWK1,_RFDRHV7,_FRTLT1A,_VEGLT1A,_RFBING5,_MENT14D
3,1,1.0,2,2.0,88.0,10.0,2.0,1.0,2.0,1.0,...,1,1,1,14,300,1,1,1,2,2
58,1,1.0,1,2.0,88.0,88.0,1.0,1.0,2.0,1.0,...,1,1,1,10,140,1,1,1,2,1
69,1,1.0,1,3.0,3.0,88.0,3.0,1.0,2.0,1.0,...,1,1,1,100,3500,2,2,1,2,1
95,1,1.0,2,4.0,10.0,10.0,1.0,2.0,2.0,2.0,...,2,1,1,13,280,1,1,1,2,2
96,1,1.0,2,3.0,88.0,2.0,2.0,1.0,1.0,1.0,...,1,1,1,7,93,1,1,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109079,78,1.0,2,3.0,4.0,4.0,3.0,3.0,2.0,1.0,...,1,1,1,13,93,1,2,2,2,2
109102,78,1.0,2,1.0,88.0,88.0,88.0,1.0,2.0,3.0,...,1,1,1,7,47,1,1,1,2,1
109103,78,1.0,1,1.0,88.0,3.0,1.0,7.0,2.0,1.0,...,1,1,1,100,1400,1,1,1,2,2
109161,78,1.0,1,3.0,5.0,88.0,3.0,2.0,2.0,1.0,...,1,1,1,29,800,1,2,2,2,1
109186,78,1.0,2,3.0,88.0,10.0,3.0,1.0,2.0,1.0,...,1,1,1,29,200,1,1,1,2,2

In [204]:
# df2 = pd.read_excel('W_MTL_Least_L21__RBFING5.xlsx')

# # df2.set_axis(['index', 'Mental_1', 'Mental_2', 'Mental_3'], axis =1)
# df2 = df2.drop(['index'], axis =1)

# df2

# Number of Days having at least one drink Datasets

In [205]:
# lol = df['ALCDAY5'].unique()
# print(lol)

ML6 = df.loc[df['ALCDAY5'] == 888]
ML6.to_csv("df_days_in_past_30_had_alcoholic_drink_L1_nodrinks.csv")

ML6

,_STATE,LADULT1,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,...,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_DRNKWK1,_RFDRHV7,_FRTLT1A,_VEGLT1A,_RFBING5,_MENT14D
0,1,1.0,2,5.0,20.0,10.0,3.0,1.0,2.0,2.0,...,1,1,2,0,0,1,1,1,1,2
1,1,1.0,2,3.0,88.0,88.0,1.0,2.0,2.0,1.0,...,1,1,2,0,0,1,1,1,1,1
2,1,1.0,2,2.0,88.0,88.0,2.0,2.0,2.0,1.0,...,1,1,2,0,0,1,1,2,1,1
4,1,1.0,1,5.0,30.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,1,1,1,1
5,1,1.0,1,3.0,88.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109185,78,1.0,2,4.0,88.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,1,1,1,1
109188,78,1.0,2,1.0,88.0,88.0,1.0,2.0,2.0,1.0,...,1,1,2,0,0,1,9,1,1,1
109190,78,1.0,2,2.0,88.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,1,1,1,1
109191,78,1.0,2,4.0,77.0,77.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,9,9,1,9
109192,78,1.0,2,3.0,77.0,88.0,3.0,1.0,2.0,1.0,...,1,1,2,0,0,1,1,2,1,1

In [206]:
ML7 = df.loc[df['ALCDAY5'].between(101, 107, inclusive = True)]
ML7.to_csv("df_days_in_past_30_had_alcoholic_drink_L2_1dayPerWeek.csv")

ML7

C:\Users\hnr59\AppData\Local\Temp\ipykernel_11640\962167887.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  ML7 = df.loc[df['ALCDAY5'].between(101, 107, inclusive = True)]

,_STATE,LADULT1,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,...,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_DRNKWK1,_RFDRHV7,_FRTLT1A,_VEGLT1A,_RFBING5,_MENT14D
3,1,1.0,2,2.0,88.0,10.0,2.0,1.0,2.0,1.0,...,1,1,1,14,300,1,1,1,2,2
19,1,1.0,2,2.0,88.0,88.0,1.0,1.0,2.0,1.0,...,1,1,1,29,200,1,1,1,1,1
35,1,1.0,2,3.0,2.0,88.0,1.0,1.0,2.0,1.0,...,1,1,1,43,300,1,1,1,1,1
64,1,1.0,2,4.0,2.0,25.0,1.0,1.0,2.0,1.0,...,1,1,1,14,200,1,2,1,1,3
90,1,1.0,2,4.0,10.0,20.0,3.0,2.0,2.0,1.0,...,1,1,1,71,500,1,1,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109145,78,1.0,2,2.0,77.0,3.0,1.0,2.0,2.0,7.0,...,1,1,1,14,100,1,9,9,1,2
109155,78,1.0,2,1.0,88.0,88.0,88.0,1.0,2.0,1.0,...,1,1,1,43,300,1,1,1,1,1
109161,78,1.0,1,3.0,5.0,88.0,3.0,2.0,2.0,1.0,...,1,1,1,29,800,1,2,2,2,1
109176,78,1.0,1,2.0,88.0,88.0,3.0,1.0,2.0,1.0,...,1,1,1,71,1500,2,1,1,1,1
109186,78,1.0,2,3.0,88.0,10.0,3.0,1.0,2.0,1.0,...,1,1,1,29,200,1,1,1,2,2

In [207]:
ML8 = df.loc[df['ALCDAY5'].between(201, 230, inclusive = True)]
ML8.to_csv("df_days_in_past_30_had_alcoholic_drink_L3_daysin30.csv")

ML8

C:\Users\hnr59\AppData\Local\Temp\ipykernel_11640\2735191838.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  ML8 = df.loc[df['ALCDAY5'].between(201, 230, inclusive = True)]

,_STATE,LADULT1,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,...,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_DRNKWK1,_RFDRHV7,_FRTLT1A,_VEGLT1A,_RFBING5,_MENT14D
9,1,1.0,2,3.0,25.0,5.0,3.0,2.0,2.0,1.0,...,1,1,1,10,140,1,1,1,1,2
21,1,1.0,1,4.0,88.0,88.0,3.0,2.0,2.0,1.0,...,2,1,1,13,187,1,2,2,1,1
23,1,1.0,1,5.0,30.0,88.0,3.0,2.0,2.0,1.0,...,1,1,1,100,700,1,1,2,1,1
27,1,1.0,1,2.0,88.0,88.0,3.0,1.0,2.0,1.0,...,1,1,1,100,700,1,1,1,1,1
28,1,1.0,1,4.0,88.0,88.0,3.0,2.0,2.0,1.0,...,1,1,1,7,93,1,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109175,78,1.0,2,5.0,30.0,88.0,3.0,1.0,2.0,1.0,...,1,1,1,3,23,1,1,9,1,1
109179,78,1.0,2,2.0,88.0,6.0,3.0,1.0,2.0,1.0,...,1,1,1,3,23,1,1,1,1,2
109184,78,1.0,2,2.0,88.0,30.0,5.0,1.0,2.0,1.0,...,1,1,1,83,583,1,1,2,1,3
109187,78,1.0,2,2.0,88.0,88.0,3.0,1.0,2.0,2.0,...,1,1,1,3,23,1,2,1,1,1
109189,78,1.0,2,2.0,88.0,88.0,88.0,1.0,2.0,2.0,...,1,1,1,7,47,1,2,1,1,1