In [64]:
import pandas as pd
import numpy as np

In [65]:
brfss = pd.read_csv('preprocessed_final.csv')
df = brfss.drop(['Unnamed: 0'], axis=1)

df

,_STATE,LADULT1,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,...,_SMOKER3,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_DRNKWK1,_RFDRHV7,_FRTLT1A,_VEGLT1A,_RFBING5
0,1,1.0,2,5.0,20.0,10.0,3.0,1.0,2.0,2.0,...,3,1,1,2,0,0,1,1,1,1
1,1,1.0,2,3.0,88.0,88.0,1.0,2.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
2,1,1.0,2,2.0,88.0,88.0,2.0,2.0,2.0,1.0,...,4,1,1,2,0,0,1,1,2,1
3,1,1.0,2,2.0,88.0,10.0,2.0,1.0,2.0,1.0,...,4,1,1,1,14,300,1,1,1,2
4,1,1.0,1,5.0,30.0,88.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109188,78,1.0,2,1.0,88.0,88.0,1.0,2.0,2.0,1.0,...,4,1,1,2,0,0,1,9,1,1
109189,78,1.0,2,2.0,88.0,88.0,88.0,1.0,2.0,2.0,...,4,1,1,1,7,47,1,2,1,1
109190,78,1.0,2,2.0,88.0,88.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,1,1
109191,78,1.0,2,4.0,77.0,77.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,9,9,1
109192,78,1.0,2,3.0,77.0,88.0,3.0,1.0,2.0,1.0,...,4,1,1,2,0,0,1,1,2,1

# Risk Factor Analysis Check

In [66]:
df2 = pd.read_excel('W_MTL_Least_L21__MENT14D.xlsx')
df2 = df2.drop(['index'], axis =1)

cols = df.columns
# cols = cols.drop(['_RFBING5'])
df2 = df2.set_axis(cols.drop(['_RFBING5']), axis =0)

df2

             Mental_1     Mental_2     Mental_3
_STATE   -4738.308360  5595.460153  5208.201157
LADULT1    153.808541   769.080229   385.871910
SEXVAR    -115.939854  1164.017712   605.088267
GENHLTH    913.125638  1922.765675  1272.485498
PHYSHLTH -1046.612782 -1967.645710 -4221.000580
...               ...          ...          ...
DROCDY3_  -742.836628    57.921214  6750.531813
_DRNKWK1    -0.149205    -1.350843    -4.275085
_RFDRHV7   812.006363  1011.354136   523.610928
_FRTLT1A   951.791616  1167.557185   706.972661
_VEGLT1A   512.444650   691.724188   498.368886

[80 rows x 3 columns]

In [67]:
SM = pd.DataFrame([])

for i in df2:
    high10 = df2.nlargest(10, [i]).index
    SM[i] = high10

SM

   Mental_1  Mental_2  Mental_3
0  MENTHLTH    _AGE80  MENTHLTH
1  CHILDREN    _STATE  DROCDY3_
2  _FRTLT1A  MENTHLTH    _STATE
3   GENHLTH     EDUCA    _AGE80
4  _RFDRHV7  _INCOMG1  PRIMINSR
5  CHOLCHK3  CHOLCHK3     EDUCA
6  _DUALUSE  _CHLDCNT  _INCOMG1
7   MARITAL   _EDUCAG   GENHLTH
8  _RACEPRV  DIABETE4  _CHLDCNT
9  _IMPRACE   USENOW3  CHOLCHK3

# Binge Drinking Risk Factor Analysis

In [70]:
df3 = pd.read_excel('W_MTL_Least_L21__RFBING5.xlsx')
df3 = df3.set_axis(['index', 'BD_1', 'BD_2'], axis =1)

df3 = df3.set_axis(cols.drop(['_MENT14D']) , axis =0)
df3 = df3.drop(['index'], axis =1)

df3

                  BD_1          BD_2
_STATE    -6382.174122  12100.659395
LADULT1    3674.943924    551.566839
SEXVAR     6629.677394   1031.014373
GENHLTH   22172.143746   2082.873092
PHYSHLTH  -1382.736545   3061.603979
...                ...           ...
_DRNKWK1     -2.098045     -1.593083
_RFDRHV7   3702.130730    581.054524
_FRTLT1A  16250.727640   1135.910425
_VEGLT1A  19714.532613   1457.362835
_RFBING5   3750.218215   1066.990028

[80 rows x 2 columns]

In [71]:
RF = pd.DataFrame([])

for i in df3:
    high10 = df3.nlargest(10, [i]).index
    RF[i] = high10

RF

       BD_1      BD_2
0  _PHYS14D    _AGE80
1   GENHLTH    _STATE
2  _VEGLT1A  PRIMINSR
3  _INCOMG1  PHYSHLTH
4  _FRTLT1A  _PHYS14D
5  CHOLCHK3     EDUCA
6  _CHOLCH3  _INCOMG1
7   MARITAL   GENHLTH
8     EDUCA   MARITAL
9  _CHLDCNT  CHOLCHK3

# Mental Health States Risk Factors Analysis

In [81]:
df4 = pd.read_excel('W_MTL_Least_L21__RFBING5_STATES.xlsx')

df4 = df4.set_axis(['index', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'GA', 'HI', 'ID', 
                    'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 
                    'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
                    'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'GU', 'PR', 'VI'], axis =1)

df4 = df4.set_axis(cols.drop(['_MENT14D']) , axis =0)
df4 = df4.drop(['index'], axis =1)

df4

,AL,AK,AZ,AR,CA,CO,CT,DE,DC,GA,...,UT,VT,VA,WA,WV,WI,WY,GU,PR,VI
_STATE,85.595986,236.797550,516.847748,699.674675,652.692385,752.068602,989.692128,720.098205,693.960970,2028.388768,...,4818.105740,5676.486931,6452.058876,6956.622457,6804.472902,5030.789693,5189.709299,4229.320467,2898.042182,1674.796847
LADULT1,85.595894,118.398651,129.211800,139.934782,108.781949,94.008476,109.965678,72.009744,63.087292,156.029735,...,96.903746,113.529609,126.510808,131.256872,134.456330,144.245244,92.673274,65.074848,40.250544,20.272936
SEXVAR,164.019468,205.681970,241.380324,232.496648,185.418911,197.991714,203.103494,127.076244,106.295062,287.613246,...,219.287196,210.309011,232.455334,229.952106,268.581743,162.568918,142.915953,103.109601,55.711740,40.895695
GENHLTH,433.988896,572.371677,653.710113,765.258551,478.483110,397.734000,475.617302,282.231977,291.466480,977.209053,...,516.660803,531.681316,839.066945,938.877115,788.864879,491.571305,388.274407,317.630067,164.692385,69.691878
PHYSHLTH,-180.057693,-198.603181,-239.936494,-118.000568,193.219644,-435.035113,79.405253,-365.857293,-1766.434922,89.873230,...,-321.049118,-777.129405,-633.094760,-721.618855,-581.143623,-363.789379,-666.330214,-501.301972,-39.981522,773.325851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
_DRNKWK1,-3.003496,-1.891628,-1.493695,-0.809179,-2.058843,-2.631438,-0.573703,-1.314127,0.120289,-0.818423,...,-3.383894,-0.635588,-0.407769,-0.313062,-1.954710,-0.162662,-0.731404,-0.667383,-3.927904,-2.544527
_RFDRHV7,94.534430,130.915581,142.000977,132.780991,110.868283,102.744170,114.285024,80.043747,64.788285,151.436768,...,98.294549,97.451794,144.621607,150.398768,123.047978,100.641572,83.481063,70.609776,42.357201,22.706151
_FRTLT1A,275.266988,333.392423,406.943162,807.889611,205.895798,455.906431,149.343271,120.616036,55.862250,1026.132095,...,525.513499,280.231466,919.108203,832.096001,479.795208,420.227179,572.366854,161.916963,87.031374,86.473091
_VEGLT1A,242.814541,478.485442,335.813866,873.435443,179.193267,395.816786,186.188763,129.473779,96.076551,1267.309036,...,536.669649,483.756602,1602.443364,1227.120790,700.039746,418.999201,556.378076,116.339718,131.793131,274.407586
_RFBING5,102.891805,180.045961,182.809483,156.241974,133.946382,106.842779,131.275144,86.528969,79.653868,198.609100,...,111.511938,131.333645,197.176667,177.044149,149.108465,130.635660,115.816025,87.814031,62.464383,26.141972

In [82]:
MH_states = pd.DataFrame([])

for i in df4:
    high5 = df4.nlargest(5, [i]).index
    MH_states[i] = high5

MH_states

,AL,AK,AZ,AR,CA,CO,CT,DE,DC,GA,...,UT,VT,VA,WA,WV,WI,WY,GU,PR,VI
0,_AGE80,_AGE80,_AGE80,_AGE80,_AGE80,_AGE80,_AGE80,_AGE80,_AGE80,_AGE80,...,_STATE,_STATE,_STATE,_STATE,_STATE,_STATE,_STATE,_STATE,_STATE,_STATE
1,DROCDY3_,PRIMINSR,PRIMINSR,_PHYS14D,_MRACE1,PRIMINSR,_STATE,CHILDREN,CHILDREN,_STATE,...,_AGE80,_AGE80,PRIMINSR,_PHYS14D,_AGE80,_AGE80,_AGE80,_AGE80,_AGE80,_AGE80
2,CHILDREN,DROCDY3_,_PHYS14D,_VEGLT1A,_PRACE1,_STATE,_PHYS14D,DROCDY3_,DROCDY3_,_PHYS14D,...,DROCDY3_,_PHYS14D,_VEGLT1A,_VEGLT1A,PRIMINSR,PRIMINSR,PRIMINSR,DROCDY3_,CHILDREN,PHYSHLTH
3,PRIMINSR,_PHYS14D,_INCOMG1,_FRTLT1A,PRIMINSR,CHILDREN,_INCOMG1,_STATE,_STATE,_VEGLT1A,...,_PHYS14D,_DUALUSE,_PHYS14D,_AGE80,_PHYS14D,_PHYS14D,_PHYS14D,_MRACE1,DROCDY3_,DROCDY3_
4,_PHYS14D,_INCOMG1,_CHLDCNT,GENHLTH,_STATE,_PHYS14D,EDUCA,_AGEG5YR,_INCOMG1,PRIMINSR,...,_VEGLT1A,_INCOMG1,_AGE80,GENHLTH,GENHLTH,GENHLTH,_CHOLCH3,_PRACE1,_RACE,CHILDREN

# ALCDAY5 Risk Factor Analysis

In [83]:
df5 = pd.read_excel('W_MTL_Least_L21__ALCDAY5.xlsx')
df5 = df5.set_axis(['index', 'DIP30_1', 'DIPWeek_2', 'DIPDay_3'], axis =1)

df5 = df5.set_axis(cols.drop(['_MENT14D']) , axis =0)
df5 = df5.drop(['index'], axis =1)

df5

               DIP30_1    DIPWeek_2     DIPDay_3
_STATE       41.757201 -1445.976936 -2505.996100
LADULT1     -42.763726   175.162723    18.036265
SEXVAR      316.168805   432.286662   338.683611
GENHLTH   10005.334249  1604.994438  3149.625454
PHYSHLTH    599.879256 -2220.922507    99.108095
...                ...          ...          ...
_DRNKWK1      0.000000    -0.048505    -0.199998
_RFDRHV7     -0.370670   206.900060   135.283774
_FRTLT1A  10939.377871   994.870301  1804.387603
_VEGLT1A  15405.496181  1630.709909  3711.387502
_RFBING5     -0.370670   314.600025   213.900115

[80 rows x 3 columns]

In [84]:
MH_ALCDAY5 = pd.DataFrame([])

for i in df5:
    high10 = df5.nlargest(10, [i]).index
    MH_ALCDAY5[i] = high10
#     for j in range(len(df4)):
#         test[i] = pd.Series([df4.])

MH_ALCDAY5

    DIP30_1 DIPWeek_2  DIPDay_3
0  _PHYS14D   ALCDAY5  _PHYS14D
1  _VEGLT1A  _PHYS14D  _VEGLT1A
2  _FRTLT1A  PRIMINSR   GENHLTH
3   GENHLTH  _VEGLT1A  _DUALUSE
4  _CHOLCH3   GENHLTH   EMPLOY1
5  _DUALUSE   MARITAL   MARITAL
6   EMPLOY1  _DUALUSE  _CHOLCH3
7   _RFHLTH  _CHOLCH3  _FRTLT1A
8  CHOLCHK3  CHOLCHK3   _RFHLTH
9   MARITAL  _CHLDCNT     _RACE

In [89]:
for i in MH_states:
    print(i)
    print(MH_states[i].unique())
#     high10 = df5.nlargest(10, [i]).index
#     MH_ALCDAY5[i] = high10
# print(MH_states.unique())

AL
['_AGE80' 'DROCDY3_' 'CHILDREN' 'PRIMINSR' '_PHYS14D']
AK
['_AGE80' 'PRIMINSR' 'DROCDY3_' '_PHYS14D' '_INCOMG1']
AZ
['_AGE80' 'PRIMINSR' '_PHYS14D' '_INCOMG1' '_CHLDCNT']
AR
['_AGE80' '_PHYS14D' '_VEGLT1A' '_FRTLT1A' 'GENHLTH']
CA
['_AGE80' '_MRACE1' '_PRACE1' 'PRIMINSR' '_STATE']
CO
['_AGE80' 'PRIMINSR' '_STATE' 'CHILDREN' '_PHYS14D']
CT
['_AGE80' '_STATE' '_PHYS14D' '_INCOMG1' 'EDUCA']
DE
['_AGE80' 'CHILDREN' 'DROCDY3_' '_STATE' '_AGEG5YR']
DC
['_AGE80' 'CHILDREN' 'DROCDY3_' '_STATE' '_INCOMG1']
GA
['_AGE80' '_STATE' '_PHYS14D' '_VEGLT1A' 'PRIMINSR']
HI
['_AGE80' '_STATE' 'PRIMINSR' 'EDUCA' '_RACEPRV']
ID
['_AGE80' 'PRIMINSR' '_STATE' '_VEGLT1A' '_PHYS14D']
IL
['_AGE80' 'CHILDREN' '_STATE' 'DROCDY3_' '_AGEG5YR']
IN
['_AGE80' '_STATE' '_PHYS14D' 'GENHLTH' 'MARITAL']
IA
['_AGE80' '_STATE' 'PRIMINSR' '_PHYS14D' '_CHOLCH3']
KS
['_AGE80' '_STATE' '_PHYS14D' 'GENHLTH' '_MRACE1']
KY
['_AGE80' 'DROCDY3_' '_STATE' 'PRIMINSR' '_PHYS14D']
LA
['_AGE80' '_STATE' 'DROCDY3_' 'CHILDREN' 'PRIMINSR']
ME
['_STATE' '_AGE80' '_PHYS14D' 'GENHLTH' '_INCOMG1']
MD
['_STATE' '_AGE80' '_PHYS14D' 'EDUCA' '_INCOMG1']
MA
['_AGE80' '_STATE' 'PRIMINSR' '_INCOMG1' '_PHYS14D']
MI
['_AGE80' '_STATE' '_PHYS14D' '_INCOMG1' 'EDUCA']
MN
['_STATE' '_AGE80' 'PRIMINSR' 'EDUCA' '_PHYS14D']
MS
['_AGE80' '_STATE' 'DROCDY3_' '_PHYS14D' 'PRIMINSR']
MO
['_STATE' '_AGE80' '_PHYS14D' 'PRIMINSR' 'GENHLTH']
MT
['_STATE' '_AGE80' 'PRIMINSR' '_PHYS14D' 'GENHLTH']
NE
['_STATE' '_AGE80' '_INCOMG1' 'EDUCA' '_PHYS14D']
NV
['_AGE80' '_STATE' 'CHILDREN' 'DROCDY3_' '_AGEG5YR']
NH
['_STATE' '_AGE80' '_PHYS14D' 'PRIMINSR' '_INCOMG1']
NJ
['_STATE' '_AGE80' 'PRIMINSR' '_MRACE1' '_PRACE1']
NM
['_STATE' '_AGE80' 'DROCDY3_' 'CHILDREN' 'GENHLTH']
NY
['_STATE' '_PHYS14D' 'GENHLTH' '_VEGLT1A' 'MARITAL']
NC
['_AGE80' '_STATE' 'CHILDREN' 'DROCDY3_' 'PRIMINSR']
ND
['_STATE' '_AGE80' '_MRACE1' '_PRACE1' '_INCOMG1']
OH
['_STATE' '_AGE80' '_VEGLT1A' '_PHYS14D' 'PRIMINSR']
OK
['_STATE' '_AGE80' 'CHILDREN' 'PRIMINSR' '_MRACE1']
OR
['_AGE80' '_STATE' 'CHILDREN' 'DROCDY3_' '_INCOMG1']
PA
['_STATE' '_AGE80' 'PRIMINSR' 'CHILDREN' '_MRACE1']
RI
['_STATE' '_AGE80' 'CHILDREN' 'PRIMINSR' '_PHYS14D']
SC
['_STATE' '_AGE80' '_PHYS14D' '_INCOMG1' 'GENHLTH']
SD
['_STATE' '_AGE80' 'PRIMINSR' '_PHYS14D' '_INCOMG1']
TN
['_STATE' '_AGE80' 'DROCDY3_' 'PRIMINSR' 'CHILDREN']
TX
['_STATE' '_AGE80' '_PHYS14D' 'PRIMINSR' 'GENHLTH']
UT
['_STATE' '_AGE80' 'DROCDY3_' '_PHYS14D' '_VEGLT1A']
VT
['_STATE' '_AGE80' '_PHYS14D' '_DUALUSE' '_INCOMG1']
VA
['_STATE' 'PRIMINSR' '_VEGLT1A' '_PHYS14D' '_AGE80']
WA
['_STATE' '_PHYS14D' '_VEGLT1A' '_AGE80' 'GENHLTH']
WV
['_STATE' '_AGE80' 'PRIMINSR' '_PHYS14D' 'GENHLTH']
WI
['_STATE' '_AGE80' 'PRIMINSR' '_PHYS14D' 'GENHLTH']
WY
['_STATE' '_AGE80' 'PRIMINSR' '_PHYS14D' '_CHOLCH3']
GU
['_STATE' '_AGE80' 'DROCDY3_' '_MRACE1' '_PRACE1']
PR
['_STATE' '_AGE80' 'CHILDREN' 'DROCDY3_' '_RACE']
VI
['_STATE' '_AGE80' 'PHYSHLTH' 'DROCDY3_' 'CHILDREN']

In [89]:
for i in range(0, len(MH_states)):
    print(i)
    print(MH_states[i].unique())
#     high10 = df5.nlargest(10, [i]).index
#     MH_ALCDAY5[i] = high10
# print(MH_states.unique())

AL
['_AGE80' 'DROCDY3_' 'CHILDREN' 'PRIMINSR' '_PHYS14D']
AK
['_AGE80' 'PRIMINSR' 'DROCDY3_' '_PHYS14D' '_INCOMG1']
AZ
['_AGE80' 'PRIMINSR' '_PHYS14D' '_INCOMG1' '_CHLDCNT']
AR
['_AGE80' '_PHYS14D' '_VEGLT1A' '_FRTLT1A' 'GENHLTH']
CA
['_AGE80' '_MRACE1' '_PRACE1' 'PRIMINSR' '_STATE']
CO
['_AGE80' 'PRIMINSR' '_STATE' 'CHILDREN' '_PHYS14D']
CT
['_AGE80' '_STATE' '_PHYS14D' '_INCOMG1' 'EDUCA']
DE
['_AGE80' 'CHILDREN' 'DROCDY3_' '_STATE' '_AGEG5YR']
DC
['_AGE80' 'CHILDREN' 'DROCDY3_' '_STATE' '_INCOMG1']
GA
['_AGE80' '_STATE' '_PHYS14D' '_VEGLT1A' 'PRIMINSR']
HI
['_AGE80' '_STATE' 'PRIMINSR' 'EDUCA' '_RACEPRV']
ID
['_AGE80' 'PRIMINSR' '_STATE' '_VEGLT1A' '_PHYS14D']
IL
['_AGE80' 'CHILDREN' '_STATE' 'DROCDY3_' '_AGEG5YR']
IN
['_AGE80' '_STATE' '_PHYS14D' 'GENHLTH' 'MARITAL']
IA
['_AGE80' '_STATE' 'PRIMINSR' '_PHYS14D' '_CHOLCH3']
KS
['_AGE80' '_STATE' '_PHYS14D' 'GENHLTH' '_MRACE1']
KY
['_AGE80' 'DROCDY3_' '_STATE' 'PRIMINSR' '_PHYS14D']
LA
['_AGE80' '_STATE' 'DROCDY3_' 'CHILDREN' 'PRIMINSR']
ME
['_STATE' '_AGE80' '_PHYS14D' 'GENHLTH' '_INCOMG1']
MD
['_STATE' '_AGE80' '_PHYS14D' 'EDUCA' '_INCOMG1']
MA
['_AGE80' '_STATE' 'PRIMINSR' '_INCOMG1' '_PHYS14D']
MI
['_AGE80' '_STATE' '_PHYS14D' '_INCOMG1' 'EDUCA']
MN
['_STATE' '_AGE80' 'PRIMINSR' 'EDUCA' '_PHYS14D']
MS
['_AGE80' '_STATE' 'DROCDY3_' '_PHYS14D' 'PRIMINSR']
MO
['_STATE' '_AGE80' '_PHYS14D' 'PRIMINSR' 'GENHLTH']
MT
['_STATE' '_AGE80' 'PRIMINSR' '_PHYS14D' 'GENHLTH']
NE
['_STATE' '_AGE80' '_INCOMG1' 'EDUCA' '_PHYS14D']
NV
['_AGE80' '_STATE' 'CHILDREN' 'DROCDY3_' '_AGEG5YR']
NH
['_STATE' '_AGE80' '_PHYS14D' 'PRIMINSR' '_INCOMG1']
NJ
['_STATE' '_AGE80' 'PRIMINSR' '_MRACE1' '_PRACE1']
NM
['_STATE' '_AGE80' 'DROCDY3_' 'CHILDREN' 'GENHLTH']
NY
['_STATE' '_PHYS14D' 'GENHLTH' '_VEGLT1A' 'MARITAL']
NC
['_AGE80' '_STATE' 'CHILDREN' 'DROCDY3_' 'PRIMINSR']
ND
['_STATE' '_AGE80' '_MRACE1' '_PRACE1' '_INCOMG1']
OH
['_STATE' '_AGE80' '_VEGLT1A' '_PHYS14D' 'PRIMINSR']
OK
['_STATE' '_AGE80' 'CHILDREN' 'PRIMINSR' '_MRACE1']
OR
['_AGE80' '_STATE' 'CHILDREN' 'DROCDY3_' '_INCOMG1']
PA
['_STATE' '_AGE80' 'PRIMINSR' 'CHILDREN' '_MRACE1']
RI
['_STATE' '_AGE80' 'CHILDREN' 'PRIMINSR' '_PHYS14D']
SC
['_STATE' '_AGE80' '_PHYS14D' '_INCOMG1' 'GENHLTH']
SD
['_STATE' '_AGE80' 'PRIMINSR' '_PHYS14D' '_INCOMG1']
TN
['_STATE' '_AGE80' 'DROCDY3_' 'PRIMINSR' 'CHILDREN']
TX
['_STATE' '_AGE80' '_PHYS14D' 'PRIMINSR' 'GENHLTH']
UT
['_STATE' '_AGE80' 'DROCDY3_' '_PHYS14D' '_VEGLT1A']
VT
['_STATE' '_AGE80' '_PHYS14D' '_DUALUSE' '_INCOMG1']
VA
['_STATE' 'PRIMINSR' '_VEGLT1A' '_PHYS14D' '_AGE80']
WA
['_STATE' '_PHYS14D' '_VEGLT1A' '_AGE80' 'GENHLTH']
WV
['_STATE' '_AGE80' 'PRIMINSR' '_PHYS14D' 'GENHLTH']
WI
['_STATE' '_AGE80' 'PRIMINSR' '_PHYS14D' 'GENHLTH']
WY
['_STATE' '_AGE80' 'PRIMINSR' '_PHYS14D' '_CHOLCH3']
GU
['_STATE' '_AGE80' 'DROCDY3_' '_MRACE1' '_PRACE1']
PR
['_STATE' '_AGE80' 'CHILDREN' 'DROCDY3_' '_RACE']
VI
['_STATE' '_AGE80' 'PHYSHLTH' 'DROCDY3_' 'CHILDREN']

In [80]:
# print(RF['BD_1'].unique())
# print(RF['BD_2'].unique())
# print(MH_ALCDAY5['DIP30_1'].unique())
# print(MH_ALCDAY5['DIPWeek_2'].unique())
# print(MH_ALCDAY5['DIPDay_3'].unique())

['_PHYS14D' '_VEGLT1A' '_FRTLT1A' 'GENHLTH' '_CHOLCH3' '_DUALUSE'
 'EMPLOY1' '_RFHLTH' 'CHOLCHK3' 'MARITAL']
['ALCDAY5' '_PHYS14D' 'PRIMINSR' '_VEGLT1A' 'GENHLTH' 'MARITAL' '_DUALUSE'
 '_CHOLCH3' 'CHOLCHK3' '_CHLDCNT']
['_PHYS14D' '_VEGLT1A' 'GENHLTH' '_DUALUSE' 'EMPLOY1' 'MARITAL' '_CHOLCH3'
 '_FRTLT1A' '_RFHLTH' '_RACE']

In [ ]:
# df2 = df2.sort_values(by = ['Mental_2'], ascending = False)
# SM2 = df2['ML2_Risk_Factors']

# df2

In [ ]:
# df2 = df2.sort_values(by = ['Mental_1', 'Mental_2', 'Mental_3'], ascending = [False, False,False])
#SM2 = df2['ML1_Risk_Factors']

# for x in range(0, len(SM1)):
#     print(SM1['L1_Risk_Factors'][x])

# df2

In [ ]:
# df2 = df2.sort_values(by = ['Mental_3'], ascending = False)
# SM3 = df2['ML3_Risk_Factors']

# df2

In [ ]:
# ML_Risk_Factors_data = {'ML1_Risk_Factors': SM1,
#                        'ML2_Risk_Factors': SM2,
#                        'ML3_Risk_Factors': SM3}

# ML_Risk_Factors_top10 = pd.DataFrame(data = ML_Risk_Factors_data)

# ML_Risk_Factors_top10